:host #insurance1{
  position: absolute;
  left: 110px;
  top: 0px;

}
:host #insurance2{
  position: absolute;
  left: 220px;
  top: 0px;

}
:host #navbar_horizontal{
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: #005bb2;
}
